extends layout

block scripts
  script(src='../js/index.js')

block content
  .homeContent
    h1 Coding Fight Club
    h4 Achieve mastery through live algorithms challenges
    img(src='../img/main.jpg' alt='Coding Fight Club')
    
    
    h3 What's Coding Fight Club?
    p A software platform that helps engineers sharpen their programming skills via live competitions on algorithms
    
    a(href='/signin')
      button JOIN THE CLUB