extends layout

block content
  .aboutContent
    .explanation
      h1 About Coding Fight Club
    .explanation
      h3 What's Coding Fight Club?
      p A software platform that helps engineers sharpen their programming skills via live competitions on algorithms.
    .explanation#match
      h3 The Matches
      p Matches are algorithms challenges made exciting! You get to choose from a variety of categories and difficulties, and we will generate a random algorithms question for you. You may also choose from either challenging a stranger online or inviting your friend.
      img.screenshot(src='../img/screenshot_match.png' alt='Coding Fight Club match example')
    .explanation#match_result
      h3 Match Result
      p After each match, you can check out the result at its match result page. We evaluate your code based on correctness and performance. You are free to check out the result of each match anytime after the match ends.
      p To rate the correctness, we run your code with our test cases and list down the number of cases passed. 
      p To rate the performance, we time the execution of each large test case (with over 1,000,000 data) and benchmark it with a pre-defined threshold. If your code executes within the threshold time (calculated based on average time plus buffer), you get the points for that test case. We then calculate the ratio of large test cases passed to get your performance score.
      p In case your points are exactly the same with your opponent, we compare the answer time and select the faster to be the winner.
      img.screenshot(src='../img/screenshot_match_result.png' alt='Coding Fight Club match result example')
    .explanation#dashboard
      h3 Dashboard
      p View your profile and your most recent matches at dashboard. Access it easily by clicking the profile icon or your name on the top right corner of the screen anytime you want. Click on any match to see the detailed match result. You may also navigate to your match history page, start another match or log out from here as well.
      img.screenshot(src='../img/screenshot_dashboard.png' alt='Coding Fight Club dashboard example')
    .explanation#match_history
      h3 Match History
      p To see the full match history since you joined Coding Fight Club, access match history page from your dashboard. You'll see a list of past matches. Click on any match to see the detailed match result.
      img.screenshot(src='../img/screenshot_match_history.png' alt='Coding Fight Club match history example')
    .explanation#leaderboard
      h3 Leaderboard
      p Check out the top ranking players at Coding Fight Club!
      img.screenshot(src='../img/screenshot_leaderboard.png' alt='Coding Fight Club leaderboard example')
    .explanation#levels
      h3 Levels
      p After you gain points from matches, you'll gradually upgrade from a beginner fighter all the way to a master fighter!
      p 
      table
        tr.levelTableHead
          td Level
          td Min Points
        tr 
          td Beginner Fighter
          td 0
        tr 
          td Skilled Fighter
          td 200
        tr 
          td Advanced Fighter
          td 500
        tr 
          td Expert Fighter
          td 1000
        tr 
          td Master Fighter
          td 2000

    .explanation
      a(href='/signin')
        button JOIN THE CLUB