extends layout

block content
  h3 Report a Bug
  div What's your name?
    br
    input#bugReporter
  div What went wrong?
    br
    input#bug
    br
    br
    button(onclick="sendBug()") Submit
  #myModal.modal
    .modalContent
      span.close &times;
      p#modalText

  script(src='../js/bug_report.js')