extends layout

block content
  .header-image-container
    .header-text
      p 於是
      p 我也想要給你
      p 一個那麼美好的自己
      p 不朽《與自己和好如初》
      p Yo 我是測試 jenkins 的訊息5
    img.header-image(src='../images/keyvisuals/201807202140.jpg')
  #products.products
    script(src='../js/index.js')


