extends layout

block content
  .backgroundImageWrapper
    .homeContent
      h2 Welcome to Coding Fight Club
      h4 intro text and images...
      a(href='/signin')
        button JOIN THE CLUB NOW
    //- img.header-image(src='../images/keyvisuals/201807202140.jpg')
  //- #products.products
  script(src='../js/index.js')
