extends layout

block content
  .header-image-container
    .header-text
      p Welcome to Coding Fight Club
    //- img.header-image(src='../images/keyvisuals/201807202140.jpg')
  //- #products.products
  script(src='../js/index.js')
