extends layout

block content
  .backgroundImageWrapper
    .homeContent
      h1 Welcome to Coding Fight Club
      h4 Achieve mastery through live challenges
      //- p A software platform that helps engineers sharpen their programming skills via live competitions on algorithms

      a(href='/signin')
        button JOIN THE CLUB NOW

      //- img.header-image(src='../img/main.jpg')
      //- #products.products
