extends layout

block scripts

block content

  .leaderboardBackgroundImageWrapper
    .leaderboardWrapper
      .profileTitle
        h2#matchResult Leaderboard 
        

      .profileContent
        h3#leaderboardDescription Top 20 players at Coding Fight Club
        .leaderboardTableContainer 
          table#leaderboardTable
          
  script(src='../js/leaderboard.js')
