extends layout

block scripts

block content

  .backgroundImageWrapper
    .profileWrapper
      .profileTitle
        h2#matchResult Leaderboard 
        

      .profileContent
        h3 Top 20 players at Coding Fight Club
        p.leaderboardTableContainer 
        table#leaderboardTable
          
  script(src='../js/leaderboard.js')
