extends layout
block scripts
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/base16-dark.css')
  script(src='../js/match.js')

block content
  #myModal.modal
    .modalContent
      span.close &times;
      p#modalText
      .modalButtons
        button#noButton No
        button#yesButton Yes
  .matchPageSections
    .titleSection
      .matchQuestion#matchQuestion
      .opponent#opponent Opponent: Pending...
      .level Level: Easy
      .timer#timer
        img.timerImg(src='../img/clock.png')
        div
        label#hours 00
        div :
        label#minutes 00
        div :
        label#seconds 00
      button#submitBtn(type='button' onclick='submitCode()') Submit
      button#exitBtn(type='button' onclick='exitMatch()') Exit
    .contentSection
      .leftSection
        .questionArea
          .sectionName Question
          #question
   

        .opponentTerminal
          .sectionName Opponent's Code Result
          #opponentRunCodeOutput


      .rightSection
        .codearea
          .sectionName Your Solution
          textarea#codearea(rows='25' cols='200')
        .terminalResult#terminalResult
          .terminalButtons
            button#testcaseBtn(type='button' onclick='showTestCase()') Test Case
            button#runcodeBtn(type='button' onclick='runCode()') Run Code
            img.questionImg(src='../img/question.png' onclick ='showHelp()')
          #runCodeOutput
          #testCaseArea
            #sampleTestCase(type='text')
            textarea#testcase(rows='5' cols='200' placeholder='// Each line is a seperate test case (5 max)')


  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js')
  script.
    // codemirror (syntax highlight & auto indent)
    const codemirrorEditor = CodeMirror.fromTextArea(document.getElementById('codearea'), {
      lineNumbers: true,
      mode: "javascript",
      theme: "base16-dark"
    });

    




