extends layout

block content
  #matchResult Match Result
    

  //- .matchPageSections Set up a Match
  //-   .contentSection
  //-     .leftSection
  //-       .chooseOpponent Choose an Opponent
  //-       br
  //-       .strangerMode Challenge a random stranger online (顯示線上對手們)
  //-       br
  //-       .friendMode Invite a friend
  //-       button.getLinkBtn(type='button' onclick='getLink()') Get match invitation link
  //-       #invitationLink
  //-     .rightSection
  //-       .chooseQuestion Choose a question
  //-       br
  //-       | Category 
  //-       select#category(name='category')
  //-         option(value='algorithms') Algorithms
  //-         option(value='database') Database
  //-         option(value='shell') Shell
  //-         option(value='concurrency') Concurrency
  //-       br
  //-       br
  //-       | Difficulty 
  //-       select#difficulty(name='difficulty')
  //-         option(value='easy') Easy
  //-         option(value='medium') Medium
  //-         option(value='hard') Hard
  //-       br
  //-       //- button.questionSetup#questionSetup(value='Two Sum') Two Sum
    
  //-   br
  //-   br
  //-   br
  //-   div Temp setup: use username, question set as Two Sum
  //-   br
  //-   button#readyBtn(type='button' onclick='setUpAMatch()') I'm ready!

  script(src='../js/match_result.js')






