extends layout

block content
  .resultTitle
    h2#matchResult Match Result 
    img.questionImg(src='../img/question.png')

  .resultContent
    h3#winLose
    h3 Match Summary
    .summaryTableContainer
      table#summaryTable
    br
    h3 Match Details
    .resultTableContainer
      table#resultTable
      p#resultLargeTest
      p#resultLargeTestHistoric
    br
    h3 Your Submitted Code
    .submittedCodeContainer
      textarea#submittedCode

  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js')
  script(src='../js/match_result.js')

  script.
    // codemirror (syntax highlight & auto indent): read only
    const codemirrorEditor = CodeMirror.fromTextArea(document.getElementById('submittedCode'), {
      lineNumbers: true,
      mode: "javascript",
      theme: "base16-dark",
      readOnly: 'nocursor'
    });






