extends layout

block content
  .setupTitle
    h2.matchPageSections Match Setup
    img.questionImg(src='../img/question.png')
  .setupContentSection
    .chooseQuestion 
      h3 What kind of algorithms question would you like to set up?
      div We'll pick a question for you randomly based on your choices
      .category 
        .categoryTitle - Category 
        button(value='array') Array
        button(value='hash_table') Hash Table
        button(value='string') String
        button(value='binary_search') Binary Search

      .difficulty 
        .difficultyTitle - Difficulty 
        button(value='easy') Easy
        button(value='medium') Medium
        button(value='hard') Hard
  
    .chooseOpponent 
      h3 Who would you like to challenge?
      .strangerMode Start a match with someone on Coding Fight Club now
      p Temp: please copy and paste the match link to your friend
      button.getLinkBtn(type='button' onclick='getLink()') Get match invitation link
      #invitationLink
  div Temp setup: use userID as username
  br
  button#readyBtn(type='button' onclick='setUpAMatch()') I'm ready!
  #myModal.modal
    .modalContent
      span.close &times;
      p#modalText


  script(src='../js/match_setup.js')
    







