<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A live competition app for engineers to sharpen their skills" />
  <title>Coding Fight Club - Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="../css/match.css" media="all" />
  <!-- <script src="js/match.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    // print message in FE 
    socket.on('codeResult', function(msg){
      console.log("Code Result: ", msg);
      // 每次都蓋掉上次的
      document.getElementById('runCodeResult').innerHTML ='';
      let node = document.createElement('div');
      let textnode = document.createTextNode(msg);
      node.appendChild(textnode);
      document.getElementById('runCodeResult').appendChild(node);
    });

    function runCode() {
      // 顯示 test case
      document.getElementById("testcase").style.display = "none";
      // 隱藏 run code
      document.getElementById("runCodeResult").style.display = "block";

      // send code to server
      const codeareaValue = document.getElementById("codearea").value;
      socket.emit('code', codeareaValue);
      // send test case to server (if any)
      const testcaseValue = document.getElementById("testcase").value;
      socket.emit('test', testcaseValue);
    };

    function showTestCase() {
      // 顯示 test case
      document.getElementById("testcase").style.display = "block";
      // 隱藏 run code
      document.getElementById("runCodeResult").style.display = "none";
    }
  </script>
</head>

<body>
  <div>Coding Fight Club - Socket.IO</div>
  <div class="socket">
    <textarea id="codearea" rows="30" cols="200">// Write your code here</textarea>
    <button type="button" id="testcaseBtn" onclick="showTestCase()">Test Case</button>
    <button type="button" id="runcodeBtn" onclick="runCode()">Run Code</button>
    <div id="runCodeResult"></div>
    <div id="testCaseArea">
      <textarea id="testcase" rows="5" cols="200"></textarea>
    </div>
  </div>
  
</body>


</html>