extends layout

block content
  .matchSetupWrapper
    .setupTitle
      h2 Match Setup
      img.questionImg(src='../img/question.png')
    .setupContentSection
      .chooseQuestion 
        h3 Choose an algorithms question
        div We'll pick a question for you randomly based on your category and difficulty choices
        .category 
          .categoryTitle - Category 
          button(value='array') Array
          //- button(value='hash_table') Hash Table
          //- button(value='string') String
          button(value='binary_search') Binary Search

        .difficulty 
          .difficultyTitle - Difficulty 
          button(value='easy') Easy
          button(value='medium') Medium
          button(value='hard') Hard
    
      .chooseOpponent 
        h3 Choose your opponent
        button.strangerMode(type='button' onclick='getAStranger()') Challenge a Stanger
        //- p Temp: please copy and paste the match link to your friend
        button.friendMode(type='button' onclick='inviteAFriend()') Invite a Friend

    #myModal.modal
      .modalContent
        span.close &times;
        p#modalText
        .modalButtons
          button#noButton No
          button#yesButton Okay let's do it!


  script(src='../js/match_setup.js')
    







