extends layout

block content
  .matchResultWrapper
    .resultTitle
      h2#matchResult Match History 
      
    .resultContent
      p.summaryTableContainer The most recent matches you participated in
      #noMatches
      .allMatchesTableContainer
        table#allMatchesTable
        
      .resultBtns
        a(href='/dashboard')
          button#resultBtn View Dashboard
        a(href='/match_setup')
          button#resultBtn Start a Match

  script(src='../js/match_history.js')