extends layout

block content
  .matchPageSections
    .titleSection
      .matchQuestion CycleRotation
      .opponent Opponent: Ethan
      .level Level: Easy
      .timer Time: XX:XX
      button#submitBtn(type='button' onclick='') Submit
      button#helpBtn(type='button' onclick='') Help
      button#exitBtn(type='button' onclick='exitMatch()') Exit
    .contentSection
      .leftSection
        .questionArea
          .sectionName Question
          #question Here's a question

        .opponentTerminal
          .sectionName Opponent's Test Output
          #opponentRunCodeResult I'm the result

      .rightSection
        .codearea
          .sectionName Your Solution
          textarea#codearea(rows='25' cols='200')
        .terminalResult 
          button#testcaseBtn(type='button' onclick='showTestCase()') Test Case
          button#runcodeBtn(type='button' onclick='runCode()') Run Code    
          #runCodeResult
          #testCaseArea
            textarea#testcase(rows='5' cols='200')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js')

  script.
    const codemirrorEditor = CodeMirror.fromTextArea(document.getElementById('codearea'), {
      lineNumbers: true,
      mode: "javascript",
      theme: "base16-dark"
    });
  //- script.
  //-   CodeMirror.fromTextArea(document.getElementById('testcase'), {
  //-     lineNumbers: false,
  //-   });

  script(src='../js/checkName.js')
  script(src='../js/exitMatch.js')
  script(src='../js/match.js')
