extends layout

block content
  .matchPageSections
    .titleSection
      .matchQuestion#matchQuestion
      .opponent Opponent:
      .level Level: Easy
      .timer#timer
        img.timerImg(src='../img/clock.png')
        div
        label#hours 00
        div h
        label#minutes 00
        div m
      button#submitBtn(type='button' onclick='') Submit
      button#helpBtn(type='button' onclick='') Help
      button#exitBtn(type='button' onclick='exitMatch()') Exit
    .contentSection
      .leftSection
        .questionArea
          .sectionName Question
          #question
   

        .opponentTerminal
          .sectionName Opponent's Code Result
          #opponentRunCodeResult

      .rightSection
        .codearea
          .sectionName Your Solution
          textarea#codearea(rows='25' cols='200')
        .terminalResult 
          button#testcaseBtn(type='button' onclick='showTestCase()') Test Case
          button#runcodeBtn(type='button' onclick='runCode()') Run Code Result
          #runCodeResult
          #testCaseArea
            textarea#testcase(rows='5' cols='200')
          div * Each line is a seperate test case (5 max), eg: [1,2,3],5


  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js')
  script(src='../js/match.js')

  script.
    // codemirror (syntax highlight & auto indent)
    const codemirrorEditor = CodeMirror.fromTextArea(document.getElementById('codearea'), {
      lineNumbers: true,
      mode: "javascript",
      theme: "base16-dark"
    });

    // timer
    let hoursLabel = document.getElementById("hours");
    var minutesLabel = document.getElementById("minutes");
    var totalMinutes = 0;
    setInterval(setTime, 60000);

    function setTime() {
      ++totalMinutes;
      //- secondsLabel.innerHTML = pad(totalSeconds % 60);
      minutesLabel.innerHTML = pad(totalMinutes % 60);
      hoursLabel.innerHTML = pad(parseInt(totalMinutes / 60))
    }

    function pad(val) {
      var valString = val + "";
      if (valString.length < 2) {
        return "0" + valString;
      } else {
        return valString;
      }
    }




