extends layout

block content
  .signin-container
    p What's your name? (temp login)
    input#signinName(type='text' name='Name')
    button#signinBtn(type='button' onclick='tempSignin()') Send
  script(src='../js/signin.js')


