extends layout

block content
  .signup-container Sign Up
    p Name
    input#signupName(type='text')
    p Email
    input#signupEmail(type='email')
    p Birthday
    input#signupBirthday(type='date')
    .signup-button
      button Sign Up

  //- script(src='../js/signup.js')
