extends layout

block content
  .signin-container Sign In
    p What's your name? (temp login: type in either Test or Ethan)
    input#signinName(type='text' name='Name')
    .signin-button
      button#signinBtn(type='button' onclick='tempSignin()') Send

  script(src='../js/signin.js')
